{% extends "base_template.html" %}
{% block title %}Web Flask{% endblock %}

{% block content %}
<div class="content">
<div class="container">
<div class="row">
<div class="col-md-6">
<img src="../static/images/foto1.png" alt="Image" class="img-fluid">
</div>
<div class="col-md-6 contents">
<div class="row justify-content-center">
<div class="col-md-8">
<div class="mb-4">
  
<h3>Generating images with Dall-e</h3>
</div>

  <form action="/submit" method="post">
    
  <div class="form-group first">
  <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
  </div>
  
  <div class="form-group">
  <input type="text" name="cel" class="form-control" id="cel" placeholder="Cel with country code (51 = Peru)" required>
  </div>

  <div class="form-group">
  <input type="text" class="form-control" name="msg" id="msg" placeholder="Message for Dall-e" required>
  </div>

<br>

  <input type="submit" value="Send image by WhatsApp" class="btn btn-block btn-primary">
  </form>

  <br><br>
	<footer class="footer">
		<p>&copy; <a href="https://www.linkedin.com/in/luisgrados">Martin Grados</a>  2023</p>
	</footer>

</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}