{% extends "base_template.html" %}
{% block title %}Web Flask{% endblock %}

{% block content %}
<div class="content">
<div class="container">
<div class="row">
<div class="col-md-6">
<img src="../static/images/foto1.png" alt="Image" class="img-fluid">
</div>
<div class="col-md-6 contents">
<div class="row justify-content-center">
<div class="col-md-8">
<div class="mb-4">
  
<h3>Send image by WhatsApp</h3>
</div>

<ul>
    {% for dato in data %}
        <li>{{ dato }}</li>
    {% endfor %}
</ul>

<a class="navbar-brand" href="/">Back</a>
  <br><br>
	<footer class="footer">
		<p>&copy; <a href="https://www.linkedin.com/in/luisgrados">Martin Grados</a>  2023</p>
	</footer>

</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}